.title {
  text-align: center;
  color: #0c0149;
}

.auth-form {
  margin: auto;
  height: 90vh;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.buttons {
  display: flex;
  flex-direction: row;

}

.logIn {
  padding-left: 10px
}

button {
  margin: auto;
  width: 150px;
}

span {
  color: #0c0149;
  font-size: 12px;
}
.accent-button {
  color: #fff;
  background-color: rgba(51, 26, 162, 0.61);
}
